body {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    align-items: center;
    width: 13%;
}

.card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #011627;
    border-radius: 8px;
    z-index: 1;
   }